.App {
  padding: 50px;
min-height: 100%;
}

.container {
  text-align: center;
}

.section {
  padding: 30px
}

.wallet-address {
  min-height: 68px;
}

.is-tally {
  min-height: 68px;
}

.table-container {
  margin: 0 30px
}